*.gz
*.swp
igp_*
pub/System/SolrPlugin/pattern.css
pub/System/SolrPlugin/ajax-solr-dictionary.js
pub/System/SolrPlugin/ajax-solr-init.js
pub/System/SolrPlugin/ajax-solr-widgets.js
pub/System/SolrPlugin/jquery.autosuggest.css
pub/System/SolrPlugin/jquery.autosuggest.js
pub/System/SolrPlugin/solrplugin.css
pub/System/SolrPlugin/solr-searchbox.js
pub/System/SolrPlugin/ajax-solr.js
pub/System/SolrPlugin/wikiusers.js
pub/System/SolrPlugin/wikiusers.css
pub/System/SolrPlugin/ajax-solr-helpers.js
SolrPlugin.md5
SolrPlugin.sha1
SolrPlugin.tgz
SolrPlugin.txt
SolrPlugin.zip
SolrPlugin_installer
SolrPlugin_installer.pl
pub/System/SolrPlugin/ajax-solr/README.md
pub/System/SolrPlugin/ajax-solr/Rakefile
genpdf_*
