/* solr plugin css */
.natSolrBody .natTopicActions {
  display:none;
}
.solrSpellchecking,
.solrSearchHits {
  margin:1.3864em 0em; /* 18px 0px */
}
.solrSearchHitsList {
  width:100%;
  margin:1.3864em 0em;
}
.solrSearchHits h3 {
  margin:0px;
  font-size:100%;
  line-height:1.3864em; 
  background-repeat:no-repeat;
  padding:0px;
}
.solrSearchHitsList h3 {
  padding:0px 0px 0px 23px;
}

.solrSearchHits h3 a {
  text-decoration:underline;
}
.solrSearchHits h3 a:hover {
  text-decoration:inherit;
}
.solrSearchHits h3 span a {
  text-decoration:none;
}
.solrSearchHits h3 span a:hover {
  text-decoration:none;
}
.solrSearchHits h3 .foswikiGrayText {
  font-size:90%;
}
.solrSearchHitsList .solrSearchHit {
  margin:1.3864em 0em;
}
.solrSearchHitsGrid .solrSearchHit {
  width:17%;
  border:1px solid #fff;
  min-width:100px;
  max-width:150px;
  overflow:hidden;
  float:left;
  position:relative;
  height:150px;
  margin:0 1% 1em 0;
  padding:0.5em;
}
.solrSearchHitsGrid .solrTopicHit,
.solrSearchHitsGrid .solrAttachmentHit {
  border-color:#eee;
}
.solrSearchHitsGrid .solrRevision {
  position:absolute;
  padding:0.5em;
  bottom:0;
  left:0;
  background-color:#fff;
}
.solrSearchHitsGrid .solrHilite {
  overflow:hidden;
}
.solrSearchHitsGrid .solrImageFrame {
  background-color:#fff;
  height:150px;
  position:relative;
  margin:-0.5em;
}
.solrSearchHitsGrid .solrImageHit img {
  /*max-width:100%;*/
  height:auto;
}
.solrImageHit .solrImageCaption {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  font-size:95%;
  /* toggled by js */
  display:none;
  margin-top:-100%;
}
.solrImageCaption a {
  text-decoration:none;
  background-color:#fff;
  color:#000;
  font-weight:bold;
  display:block;
  padding:0.5em;
  opacity:0.7;
}
.solrImageCaption a:hover {
  background-color:#0055b5;
  color:#fff;
  opacity:1.0;
}
.solrSearchHitsList .solrImageFrame {
  float:left;
  border:1px solid #ddd;
  padding:2px;
  background-color:#fff;
  margin-right:1em;
}
.solrImageFrame .imageSimple {
  float:left;
}
.solrSearchHitsList .solrImageFrame .imageSimple {
  max-height:64px;
  overflow:hidden;
}

.solrRevision,
.solrRevision a {
  text-decoration:none;
  color:#049804;
}
.solrSortion {
  text-align:right;
}
.solrHilite em {
  font-style:normal;
  font-weight:bold;
}

.solrHeaderResults {
  margin:0.3846em 0em;
}

.solrHeader .solrPager {
  margin:1.3864em 0em; /* 18px 0px */
  border-bottom:1px solid #ddd;
}
.solrHeader .foswikiRight th {
  padding:0px;
}
.solrHeader .foswikiRight td {
  padding:0px 0px 0px 5px;
}
.solrHeader .foswikiFormSteps {
  margin-top:0px;
}
.solrFooter .solrPager {
  margin:2em 0em 0em;
  border-top:1px solid #ddd;
}
.solrPagerPrev,
.solrPagerNext,
.solrPager a {
  margin:0px 1px;
  padding:2px 5px;
  text-decoration:none;
}
.solrHover input,
.solrHover label {
  cursor:pointer;
}
.solrPager a.current:visited,
.solrPager a:hover,
.solrPager a.current {
  color:#fff;
  background:#bb2222;
}
.solrPagerEllipsis {
  margin:0px 5px;
}
.solrPagerPrev,
.solrPagerNext {
  font-weight:bold;
}
.solrPager .solrPagerPrev {
  margin-right:0.5em;
}
.solrPager .solrPagerNext {
  margin-left:0.5em;
}

.solrSpellchecking {
  color:red;
}
.solrCorrection {
  font-style:italic;
  font-weight:bold;
}

.solrHierarchy .clsBrowser {
  border:0px;
  padding:0px;
  margin:0px;
}

.solrHierarchy a.current,
.solrTagCloud a.current {
  background:#06c !important;
  color:white !important;
}

.tagCloud {
  text-align:center;
}
.solrTagCloud .tagCloud,
.solrSettings {
  margin:10px 20px 0px 20px;
}
.solrTagCloud strong {
  font-size:110%;
  margin:0em 0.5em;
}

.solrClearAll,
.solrClear {
  display:none;
}

.solrClearAll,
.solrClearAll:hover,
.solrClear,
.solrClear:hover {
  background-image:url(../FamFamFamSilkIcons/delete.png);
  background-repeat:no-repeat;
  background-position:0% 50%;
  padding-left:25px;
  float:left;
}
.natSideBar .solrHierarchy ul ul {
  margin:6px 0px 0px 25px;
  padding:0px;
  border:0px;
}
.natSideBar .solrHierarchy ul li li {
  border:0px;
  margin:0px -1em 5px;
  padding:0px 1em;
}
.solrHierarchy .fltMakeIndexWrapper,
.solrHierarchy .fltLayoutTable {
  margin:0px;
}
.solrHierarchy .fltMakeIndexWrapper ul {
  margin:0px 0px 10px 0px;
}
.solrCategory {
  background-repeat:no-repeat;
  padding:0px 0px 2px 20px;
}
.natSideBar .solrCategory {
  padding:0px;
}
.solrCheckboxContainer {
  margin-top:0.3em;
}
.solrCheckboxContainer p {
  float:left;
}
.solrFacetContainer .jqSerialPager li {
  white-space:nowrap;
}
