[Unit]
Description=Solrworker for MATTDaemon
After=network.target mattdaemon.service
Requires=mattdaemon.service

[Service]
EnvironmentFile=/etc/default/solrworker-%i
User=www-data
ExecStart=/usr/local/bin/mattworker
Restart=on-failure

[Install]
WantedBy=multi-user.target
